.content{
    background-color: black;
    height: auto;
    width: 100%;
    
}
/* .content1{
    height: 100vh;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;


}
.content2{
    text-align: right;
    height:90vh;
    width: 60%;
    color: white;
    align-items: center;
    justify-content: center;
}
.con1 {
    font-weight: 700;
    font-size: 50px;
    justify-content: center;
    align-items: center;
}
.con2{
    font-weight: 500;
    font-size: 20px;
} */
